<?xml version="1.0" encoding="utf-8" ?>

<Configuration DefaultID="0" AutoLoop="False">

    <Template Name="Buttons_Template">
        <Button Name="Btn_Close" Width="120" Height="120" Margin="0,600" Opacity="10.01"/>
        <Events Name="Click" Button="Btn_Close">
            <Action TargetObj="Window" Method="Close" Params=""/>
        </Events>

        <Button Name="Btn_LoadItem" Width="120" Height="120" Margin="1000,600">
            <Button.Background>
                <ImageBrush ImageSource="ICONS/{BtnName}.png"/>
            </Button.Background>
            <Button.Foreground>
                <ImageBrush ImageSource="E:/2020/005_Projects/2023_MediaPalyerPro/MediaPalyerPro/MediaPalyerPro/bin/Debug/ICONS/{BtnName}.png"/>
            </Button.Foreground>
        </Button>
        <Events Name="Click" Button="Btn_LoadItem">
            <Action TargetObj="Window" Method="LoadItem" Params="{ItemID}"/>
        </Events>
    </Template>


    <Item ID="0" Comment="待机页面">
        <!-- Background 播放内容 -->
        <BackgroundPlayer Url="Contents/Video_01.mp4" Stretch="Fill" />

        <BackgroundButtons>
            <RefTemplate Name="Buttons_Template" BtnName="播放" ItemID="1" />
        </BackgroundButtons>

        <MiddleGroup Visibility="Hidden"/>
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>


    <Item ID="1" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/Video_02.mp4" Stretch="Fill"/>

        <!-- Play Button -->
        <MiddleButtons>
            <RefTemplate Name="Buttons_Template" BtnName="返回" ItemID="0" />
        </MiddleButtons>

        <MiddleGroup Visibility="Visible"/>
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Hidden"/>
    </Item>


</Configuration>