<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <!-- 可以删除不使用的或不必要的配置属性，不会影响程序的运行，但会影响其运行功能 -->
    <appSettings>
        <!-- Log4net Config -->
        <add key="log4net.Config.Watch" value="True"/>
        <add key="log4net.Config" value="Log4Net.Config"/>

        
        <!-- Process 附加需要启动的第三方应用程序或文档 -->
        <add key="Process.FileName" value=""/>
        <!-- 0:正常窗口 1:隐藏窗口 2:最小化窗口 3:最大化窗口。默认值为0 -->
        <add key="Process.WindowStyle" value="0"/>
        <!-- 是否使用操作系统 shell 启动进程。默认值为True -->
        <add key="Process.UseShellExecute" value="True"/>

        
        <!-- MainWindow 属性配置 -->
        <add key="Window.WindowStyle" value="1"/>
        <add key="Window.WindowState" value="0"/>
        <add key="Window.AllowsTransparency" value="False"/>
        <add key="Window.Topmost" value="True"/>
        <add key="Window.AllowDrop" value="True"/>
        <!-- Background 对象的属性配置 -->
        <add key="Background.URL" value=""/>
        <add key="Background.Volume" value="0"/>
        <!-- Player 对象的属性配置 -->
        <add key="Player.OpenAndPlay" value="True"/>
        <add key="Player.Loop" value="True"/>
        <add key="Player.Volume" value="0.8"/>
        <add key="Player.Url" value=""/> <!-- URL >(大于符号) List.Config -->

        
        <!-- 可访问对象(Key) Format:Type,IP,Port -->
        <add key="Modbus.Master.DIO" value=""/>
        <add key="Network.Server" value=""/>
        <add key="Network.Client" value=""/>

        
        <!-- Debug Ctrl + D (digital 0~9) -->
        <add key="QKEY.0x01" value="0x0001,0x0001"/>
        <add key="QKEY.0x02" value="0x0001,0x0001"/>
        <add key="QKEY.0x03" value="0x0001,0x0001"/>
        <add key="QKEY.0x04" value="0x0001,0x0001"/>
        <add key="QKEY.0x05" value="0x0001,0x0001"/>
        <add key="QKEY.0x06" value="0x0001,0x0001"/>
        <add key="QKEY.0x07" value="0x0001,0x0001"/>
        <add key="QKEY.0x08" value="0x0001,0x0001"/>
        <add key="QKEY.0x09" value="0x0001,0x0001"/>
        <add key="QKEY.0x00" value="0x0001,0x0001"/>

        
        
        <!-- 以下为可访问(key)对象 -->
        <!-- Modbus Device/Digital IO value="TCP/TCP-RTU/UDP/UDP-RTU/SERIAL, hostname/COM, port/baundRate"-->
        <add key="Modbus.Master.DIO" value="SERIAL,COM13,9600"/>
        <!-- Modbus Device Config Control Interface. type,address,port-->
        <add key="Network.Server.Port" value="TCP,0.0.0.0,5330"/>
        <!-- 客户端远程连接配置 type,address,port-->
        <add key="Network.Client.Demo" value=""/>
        <!-- SerialPort -->
        <add key="Serial.PortName" value=""/>
        <add key="Serial.BaudRate" value=""/>


    </appSettings>

</configuration>