<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

    <!-- 可以删除不使用的或不必要的配置属性，不会影响程序的运行，但会影响其运行功能 -->
    <appSettings>
        <!-- Log4net Config -->
        <add key="log4net.Config.Watch" value="True"/>
        <add key="log4net.Config" value="Log4Net.Config"/>


        <!-- Target Timer Count (s)-->
        <add key="Timer.Count" value="480"/>
        <!-- Timer 计数结束后需要加载的项 ID -->
        <add key="Timer.LoadItem" value="0"/>


        <!-- Process 附加需要启动的第三方应用程序或文档 -->
        <add key="Process.FileName" value=""/>
        <!-- 0:正常窗口 1:隐藏窗口 2:最小化窗口 3:最大化窗口。默认值为0 -->
        <add key="Process.WindowStyle" value="0"/>
        <!-- 是否使用操作系统 shell 启动进程。默认值为True -->
        <add key="Process.UseShellExecute" value="True"/>


        <!-- MainWindow 属性配置 -->
        <add key="Window.Width" value="1280"/>
        <add key="Window.Height" value="720"/>
        <!-- WindowStyle => 0:None(无边框), 1:SingleBorderWindow, 2:ThreeDBorderWindow, 3:ToolWindow-->
        <add key="Window.WindowStyle" value="1"/>
        <!-- WindowState => 0:Normal, 1:Minimized, 2:Maximized -->
        <add key="Window.WindowState" value="0"/>
        <add key="Window.Topmost" value="True"/>
        <add key="Window.AllowDrop" value="True"/>
        <add key="Window.AllowsTransparency" value="False"/>

        
        <!-- 多端同步端口(从机)，与主机互斥，端口为 0 表示不启用 -->
        <add key="Synchronize.Slave" value="UDP,127.0.0.1,0"/>
        <!-- 多端同步端口(主机)，与从机互斥，端口为 0 表示不启用 -->
        <add key="Synchronize.Master" value="UDP,0.0.0.0,0"/>
        <!-- 多端同步参数 主机 设置有效。校准误差范围(ms)，超出该范围后 Seek 一次 -->
        <add key="Synchronize.Calibr" value="120"/>
        <!-- 多端同步参数 主机 设置有效。触发校准后，等待多少帧才可进行下一次 Seek 校准 -->
        <add key="Synchronize.WaitCount" value="120"/>
        <add key="Synchronize.Player" value=""/>
        
        
        <!-- 以下都是预留的连接对象(Connection Objects)，在需要使用的场景进行相应的配置 -->
        <!-- Modbus 标准协议设备/硬件 Format:Type,IP/PortName,Port/BaudRate -->
        <add key="Modbus.Master" value="TCP-RTU,192.168.1.110,8899"/>
        <!-- 预留的客户端连接对象 -->
        <add key="Network.Client" value=""/>
        <!-- 应用的服务端口/控制接口 -->
        <add key="Network.Server" value="TCP,0.0.0.0,5330"/>
        
        
        <!-- 预留的串口连接对象，只用于串口非标协议，与 Modbus.Master 正好相反 -->
        <add key="SerialPort.PortName" value=""/>
        <add key="SerialPort.BaudRate" value="9600"/>
    </appSettings>
</configuration>
