<?xml version="1.0" encoding="utf-8" ?>

<!-- List 显示或播放列表
    AutoPlayID: 默认显示项，-1 表示没有默认项；初使化状态可在 MediaPlayerPro.Config 里配置
    AutoLoop:   指列表循环
-->
<List AutoPlayID="0" AutoLoop="False">

    <!-- Item:  可理解为页(Page) 
        
    -->
    <Item ID="0" HotKey="A">
        <Window Left="10" Top="10" Width="500" Height="600" />
        <Player Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\BigBuckBunny_720p30.mp4"
            Loop="True" Volume="0.8">

            <Events Name="OnFirstFrame">
                <Action TargetObj="Window" Property="Top" Value="100"/>
                <Action TargetObj="Window" Property="Left" Value="100"/>
            </Events>

            <Events Name="OnRenderFrame" Position="2.5">
                <Action TargetObj="Window" Method="TestEcho"/>
            </Events>

            <Events Name="OnLastFrame">
                <Action TargetObj="Player" Property="Visibility" Value="Visible" Visibility="Visible"/>
            </Events>
        </Player>

        <PlayerCanvas Visibility="Visible" >
            <Button Name="btn_0" Width="100" Height="100" Margin="50,50" Background="#00FF0000" Foreground="#000000FF" />
            <Button Name="btn_1" Width="100" Height="100" Margin="100,100" />
            <Events Name="Click">
                <Action ButtonName="btn_0" TargetObj="Window" Method="LoadItem" Params="0"/>
            </Events>
        </PlayerCanvas>

    </Item>

    <Item ID="1">
        <Window Left="1" Width="800" Height="600"/>
        <Player Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\Brain.mov" Loop="True" Volume="0.8">
        </Player>
    </Item>

    <Item ID="2" >
        <Window Left="200" Width="500" />
        <Player Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\Upgrade_01.mp4" Loop="True" Volume="0.8">
        </Player>
    </Item>

    <Item ID="3">
        <Window Left="200" Width="500" />
        <Player Url="D:\Desktop\Hi3559A.Hi3519A.Hi3556A.png" Loop="True" Volume="0.8" />
    </Item>

</List>