<?xml version="1.0" encoding="utf-8" ?>

<Configuration DefaultID="0" AutoLoop="False">
    
    <Item ID="0" Comment="例如：定义这是一个主页面">
        <!-- 
        示例，在加载该 Item 后，会改会窗体的大小及位置等属性
        <Window Left="10" Top="10" Width="500" Height="600" />
        -->

        
        <!-- Background 播放内容 -->
        <BackgroundPlayer Url="E:\2020\005_Projects\2023_OTHER_DEMO\2023-03\SoundsControl\Contents\Sound_01.mp3" Loop="True" Volume="0.5">
            <Events Name="OnRenderFrame" Position="2.25">
                <Action TargetObj="Window" Method="TestEcho" Params="position ... 2.25s"/>
            </Events>
        </BackgroundPlayer>
        
        <!-- Background Buttons -->
        <BackgroundButtons>
            <Button Name="btn_e" Content="Pause" Margin="350,200"/>
            <Button Name="btn_1" Content="Video_0" Width="100" Height="100" Margin="10,100" Opacity="0.2"/>
            <!-- 按扭的背景或前景，颜色值为：#ARGB格式，也可配置为复杂模式 -->
            <Button Name="btn_0" Content="Video_1" Width="100" Height="100" Margin="150,50" Background="#10FF0000" Foreground="#100000FF" />
            <!-- 这是一个复杂模式按扭的配置示例 -->
            
            <Button Name="btn_x" Content="Play" Width="100" Height="100" FontSize="25" Margin="200,200">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
            </Button>
            
            <!-- 未定义 Button 上面每个按扭点击都会执行 -->
            <Events Name="Click" Button="btn_x">
                <Action TargetObj="Window" Method="TestEcho" Params="null"/>
                <Action TargetObj="BackgroundPlayer" Method="Play" Params=""/>
                <Action TargetKey="Modbus.Master" Method="TurnSingleCoilAsync" Params="2,0"/>
            </Events>
            <!-- 定义 Button 属性，只有上面 btn_0 的按扭会执行 -->
            <Events Name="Click" Button="btn_e">
                <Action TargetObj="Window" Method="TestEcho" Params="load item 1"/>
                <Action TargetObj="BackgroundPlayer" Method="Pause" Params=""/>
            </Events>
            <Events Name="Click" Button="btn_1">
                <Action TargetObj="BackgroundPlayer" Method="Pause" Params=""/>
                <Action TargetObj="Window" Method="Sleep" Params="100"/>
                <Action TargetObj="Window" Method="LoadItem" Params="1"/>
                <Action TargetKey="SerialPort" Method="SendBytes" Params="[0x00,0x01,0x02]"/>
            </Events>
        </BackgroundButtons>


        <!-- 禁用 Middle 组内容 -->
        <MiddleGroup IsEnabled="False"/>
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>
    
    <Item ID="1" Comment="">
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible">
            <Action TargetObj="BackgroundPlayer" Method="Play" Params=""/>
        </BackgroundGroup>
    </Item>
    
    <Item ID="2" Comment="">
        <ForegroundPlayer Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\Upgrade_01.mp4" Loop="True" Volume="0.8">

            <Events Name="OnFirstFrame">
                <Action TargetObj="Window" Method="TestEcho" Params="Video First Frame Event."/>
            </Events>

            <Events Name="OnRenderFrame" Position="2.5">
                <Action TargetObj="Window" Method="TestEcho" Params="position ... 2.50s"/>
            </Events>

            <Events Name="OnLastFrame">
                <Action TargetObj="ForegroundPlayer" Method="Pause"/>
            </Events>
        </ForegroundPlayer>

        <ForegroundButtons>
            <Button Name="btn_0" Content="返回" FontSize="25" Width="100" Height="100" Margin="150,50" Background="#70FF0000" Foreground="#700000FF" />
            <Button Name="btn_1" Content="Pause" Width="100" Height="100" Margin="10,180" />
            <Button Name="btn_2" Content="Play" Width="100" Height="100" Margin="150,180" />
            
            <Events Name="Click" Button="btn_0">
                <Action TargetObj="Window" Method="LoadItem" Params="0"/>
            </Events>
            <Events Name="Click" Button="btn_1">
                <Action TargetObj="ForegroundPlayer" Method="Pause" Params=""/>
            </Events>
            <Events Name="Click" Button="btn_2">
                <Action TargetObj="ForegroundPlayer" Method="Play" Params=""/>
            </Events>
        </ForegroundButtons>

        <BackgroundGroup Visibility="Hidden"/>
        <ForegroundGroup Visibility="Visible"/>
        
    </Item>

    <Item ID="3" Comment="">
        <Window Left="200" Width="500" />
        <ForegroundPlayer Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\Brain.mov" Loop="True" Volume="0.8">
        </ForegroundPlayer>
    
        <ForegroundGroup Visibility="Visible"/>
        <BackgroundGroup Visibility="Hidden"/>
    </Item>

    <Item ID="4" Comment="">
        <ForegroundPlayer Source="null" Url="D:\Desktop\Hi3559A.Hi3519A.Hi3556A.png" Loop="True" Volume="0.8" >
            <Action TargetObj="ForegroundPlayer" Method="Pause" Params=""/>
        </ForegroundPlayer>
    
        <ForegroundGroup Visibility="Visible"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>

</Configuration>