<?xml version="1.0" encoding="utf-8" ?>

<!-- 4.讲好民族故事-86寸一体机+灯箱继电器 -->

<Configuration DefaultID="0" AutoLoop="False">

    <Item ID="0" Comment="待机页面">        
        <!-- Background 播放内容 -->
        <BackgroundPlayer Url="Contents/Background.mp4" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,false,false,false,false,false]" Comment="关闭所有灯箱"/>
			<Events Name="OnRenderFrame" Position="0.1">
				<BackgroundButtons Visibility="Hidden"/>
			</Events>
			<Events Name="OnRenderFrame" Position="4.0">
				<BackgroundButtons Visibility="Visible"/>
			</Events>
        </BackgroundPlayer>        
        <!-- Background Buttons -->
        <BackgroundButtons Visibility="Hidden">
            <Button Name="Btn_LoadItem_1" Width="700" Height="210" Margin="900,1240" Opacity="0.1" />
            <Button Name="Btn_LoadItem_2" Width="627" Height="210" Margin="1700,1240" Opacity="0.1" />
			<Button Name="Btn_LoadItem_3" Width="627" Height="210" Margin="2400,1240" Opacity="0.1" />
			
			<Button Name="Btn_LoadItem_4" Width="625" Height="210" Margin="390,1530" Opacity="0.1" />
			<Button Name="Btn_LoadItem_5" Width="625" Height="210" Margin="1200,1530" Opacity="0.1" />
			<Button Name="Btn_LoadItem_6" Width="625" Height="210" Margin="2000,1530" Opacity="0.1" />
			<Button Name="Btn_LoadItem_7" Width="625" Height="210" Margin="2750,1530" Opacity="0.1" />
			
            <Events Name="Click" Button="Btn_LoadItem_1">
                <Action TargetObj="Window" Method="LoadItem" Params="1"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_2">
                <Action TargetObj="Window" Method="LoadItem" Params="2"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_3">
                <Action TargetObj="Window" Method="LoadItem" Params="3"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_4">
                <Action TargetObj="Window" Method="LoadItem" Params="4"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_5">
                <Action TargetObj="Window" Method="LoadItem" Params="5"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_6">
                <Action TargetObj="Window" Method="LoadItem" Params="6"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_7">
                <Action TargetObj="Window" Method="LoadItem" Params="7"/>
            </Events>
        </BackgroundButtons>
		
        <MiddleGroup Visibility="Hidden"/>
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>
    
	
    <Item ID="1" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/大通县.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[true,false,false,false,false,false,false]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="10" />
			</Events>
		</MiddleButtons>	
		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>
    </Item>
	
	<Item ID="10" Comment="">
		<ForegroundPlayer Url="Contents/大通县.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="1" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>	
		</ForegroundButtons>			
		<ForegroundGroup Visibility="Visible"/>
	</Item>
	
	
	
    <Item ID="2" Comment="">
		<!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/湟源县.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,true,false,false,false,false,false]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="20" />
			</Events>
		</MiddleButtons>	
		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>	
    </Item>
	<Item ID="20" Comment="">
		<ForegroundPlayer Url="Contents/湟源县.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="2" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
		</ForegroundButtons>			
		<ForegroundGroup Visibility="Visible"/>
	</Item>
	
	
	
    <Item ID="3" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/城东区.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,true,false,false,false,false]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="30" />
			</Events>
		</MiddleButtons>		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>
    </Item>
	<Item ID="30" Comment="">
		<ForegroundPlayer Url="Contents/城东区.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="3" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>	
		</ForegroundButtons>			
		<ForegroundGroup Visibility="Visible"/>
	</Item>

	
	
    <Item ID="4" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/城中区.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,false,true,false,false,false]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="40" />
			</Events>
		</MiddleButtons>	
		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>
    </Item>
	<Item ID="40" Comment="">
		<ForegroundPlayer Url="Contents/城中区.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="4" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
		</ForegroundButtons>			
		<ForegroundGroup Visibility="Visible"/>
	</Item>
	
	
	
	<Item ID="5" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/城西区.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,false,false,true,false,false]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="50" />
			</Events>
		</MiddleButtons>	
		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>
    </Item>
	<Item ID="50" Comment="">
		<ForegroundPlayer Url="Contents/城西区.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="5" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>	
		</ForegroundButtons>
		<ForegroundGroup Visibility="Visible"/>
	</Item>

	
	<Item ID="6" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/城北区.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,false,false,false,true,false]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="60" />
			</Events>
		</MiddleButtons>	
		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>
    </Item>
	<Item ID="60" Comment="">
		<ForegroundPlayer Url="Contents/城北区.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="6" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>	
		</ForegroundButtons>			
		<ForegroundGroup Visibility="Visible"/>
	</Item>
	
	<Item ID="7" Comment="">	
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/湟中区.jpg" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,false,false,false,false,true]" />
		</MiddlePlayer>
		
		<!-- Play Button -->
        <MiddleButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
			</Button>
			<Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
				<Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
				<Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
			</Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>
			<Events Name="Click" Button="Btn_Play">
				<Action TargetObj="Window" Method="LoadItem" Params="70" />
			</Events>
		</MiddleButtons>	
		
		<MiddleGroup Visibility="Visible"/>
		<ForegroundGroup Visibility="Hidden"/>
    </Item>
	<Item ID="70" Comment="">
		<ForegroundPlayer Url="Contents/湟中区.mp4" Visibility="Visible" Stretch="Fill">
		</ForegroundPlayer>
		
		<ForegroundButtons>
			<Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/返回.png"/>
                </Button.Foreground>
            </Button>
			<Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>
			
			<Events Name="Click" Button="Btn_Back">
				<Action TargetObj="Window" Method="LoadItem" Params="6" />
			</Events>
			<Events Name="Click" Button="Btn_Home">
				<Action TargetObj="Window" Method="LoadItem" Params="0" />
			</Events>	
		</ForegroundButtons>
		<ForegroundGroup Visibility="Visible"/>
	</Item>
	
</Configuration>