<?xml version="1.0" encoding="utf-8" ?>

<!-- List 显示或播放列表
    DefaultID:  默认显示项，-1 表示没有默认项；初使化状态可在 MediaPlayerPro.exe.Config 里配置
    AutoLoop:   指列表循环
-->
<Configuration DefaultID="0" AutoLoop="False">

    <!-- 
        Item:  可理解为页(Page)，或组合显示对象，Item 的一级子节点(Window, BackgroundGroup,BackgroundPlayer,BackgroundButtons, MiddleGroup,MiddlePlayer,MiddleButtons, ForegroundGroup,ForegroundPlayer,ForegroundButtons)为显示对象，可配置其相应的属性值
            Window： 主窗体，主要应用于在不同的视频场景，或不同的内容页面切换不同的窗体状态，如果在整体应用过程中不需要发生变化，可在 "MediaPlayerPro.exe.Config" 只配置一次
            Group： 显示对象容器，其中包含了 Player、Buttons 一组显示对象, Middle、Foreground 默认为隐藏状态
            Player: 可以配置视频和图片文件，默认为居中位置；如果要自定义位置，可设置为左顶上角位置，在设置 Margin 属性
            Buttons：按扭的集合，每次 LoadItem(int id) 都会先清空之前的 Buttons 集合
                
        注意：1.Background、Middle、Foreground 的概念，不应理解为字面意思，它只是三组动态显示对象容器，每组都可以动态配置媒体文件、按扭、交互动作(方法)等等，它们的配置参数都相同；如果三组都配置使用，将会导致配置复杂化，而且要考虑硬件的配置，是否支持三组视频播放器内核的渲染压力
             2.串口对象的 Key 只访问前缀
             3.配置是按节点、行顺序执行
        
        【属性】
        显示对象常用基本属性：Width="Number", Height="Number", IsEnabled="False/True", Visibility="Visible/Hidden", Opacity="0.0~1.0", 
                          HorizontalAlignment="Left/Center/Right/Stretch", VerticalAlignment="Top/Center/Bottom/Stretch", Margin="Left,Top",       
        Player 特殊属性：AutoOpen="True/False" 设置 Url 属性后自动打开调用 Open(Link,null) 媒体文件，只是打开媒体文件并不会播放，默认为 True 
                        OpenAndPlay="True/False"，调用 Open(Link,null) 后是否自动播放，如果为 False 则需要手动再次调用 Play() 才播放，默认为 True
                        Loop="True/False"，视频循环播放，可实现头尾帧无封连接循环播放，默认为 True
                        Volume="0.0~1.0"，音量属性；以及其它继承属性，默认为 0.8
        Button 为可视对象，其属性 Name 在当前项 (Item) 中，不能同名；按扭有 Background(鼠标点击后显示) 和 Foreground(默认为显示，鼠标放上去后透明0.8) , 可设置为图片、颜色或隐藏效果等，按原 XAML 布局编码解析灵活性及大
        Action 动作(方法)节点属性：TargetObj/TargetKey, Medhod, Params(多个参数以 ',' 分隔), 一个 Action 节点中 TargetObj 与 TargetKey 只可存在一个，TargetKey 为通信连接对象，参考 MediaPlayerPro.exe.Config，TargetObj 为显示对象
        
        【方法 Action】
        Window: 可访问的方法，除 API 中自带的方法外，还包括 LoadItem(int id), CallButtonEvent(int id, string layerButtonsName, string buttonName), Sleep(int ms), SetVolume(float volume) 等，窗体的 SetVolume(float) 是全局，针对所有 Player
        Player: 除 API 自带方法外，还包括 Open(Link,null), Play(), Pause(), SetLoop(bool loop), SetVolume(float volume), SeekFastMilliSecond(int ms), Close() 等
        连接对象(TargetKey，参考 MediaPalyerPro.exe.Config)，除 API 自带的方法外，还包括 SendBytes(byte[] bytes), SendMessage(string message) 等
        属性 Params 中，多个参数是使用 ',' 分隔，数组使用 '[]', 一定要注意 ',' 特殊意义，十六进制数值以 '0x' 开头
        结合 Action 示例：
            1.<Action TargetObj="Window" Method="LoadItem" Params="0"/> 调用显示对象 Window 的方法 LoadItem 其参数为 0
            2.<Action TargetObj="BackgroundPlayer" Method="Open" Params="Link,null"/> 打开媒体文件，只是打开，是否会播放取决于属性 Background.OpenAndPlay, 以及文件类型
            3.<Action TargetKey="SerialPort" Method="SendBytes" Params="[0x00,0x01,0x02]"/> 调用连接对象 SerialPort 发送字节数据，
            4.<Action TargetKey="Network.Server" Method="SendMessage" Params="Hello World"/> 调用连接对象 Network.Server，向所有客户端发送数据
                           
        【事件 Events】
        Player 事件名包括 OnFirstFrame, OnRenderFrame，OnLastFrame, 其中 OnRenderFrame 事件带有 Position 参数值为秒(0.00s)，
        Button 事件名 Click, 其中 Button 属性为对应按扭集合中的名称
        
        【网络接口】
        支持方法/属性配置，示例:
            1.向应用服务端口发送：<Action TargetObj="Window" Method="LoadItem" Params="0"/> 会加载 ID 为 0 的 Item
            2.向应用服务端口发送：<Action TargetObj="Window" Method="CallButtonEvent" Params="0,BackgroundButtons,btn_1"/> 会执行 ID 为 0, BackgroundButtons 中名为 btn_1 的一组动作集合，应用场景灵活，可配置一组虚拟指令专用外部调用
            3.向应用服务端口发送：<Window Left="10" Top="10" Width="500" Height="600" /> 配置显示对象的相关属性
            
        【快捷键】
        Ctrl+L 打开或关闭日志窗口
        Ctrl+D 日志级别在 Debug 和 Info 之间切换，调试使用，并不保存日志级别参数
        Ctrl+R 在不关闭应用程序情况下，重新加载 MeidaContents.Config 配置文件
        数字键 0~9，对应调用 LoadItem(int id) 指定节点 ID
        方向键Down/Right, LoadItem(int id) 下一个节点 Item
        方向键UP/Left LoadItem(int id) 上一节点 Item
        空格/回车，播放/暂停之间切换
        Esc键，退出程序
    -->
    <Item ID="0" Comment="例如：定义这是一个主页面">
        <!-- 示例，在加载该 Item 后，会改会窗体的大小及位置等属性
        <Window Left="10" Top="10" Width="500" Height="600" />
        -->

        <!-- 禁用 Middle 组内容 -->
        <MiddleGroup IsEnabled="False"/>
        
        <!-- Background 播放内容 -->
        <BackgroundPlayer Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\BigBuckBunny_720p30.mp4" Loop="True" Volume="0.5">
            <Events Name="OnRenderFrame" Position="2.25">
                <Action TargetObj="Window" Method="TestEcho" Params="position ... 2.25s"/>
            </Events>
        </BackgroundPlayer>
        
        <!-- Background Buttons -->
        <BackgroundButtons>
            <Button Name="btn_e" Content="Video_0" Margin="350,200"/>
            <Button Name="btn_1" Content="Video_0" Width="100" Height="100" Margin="10,100" Opacity="0.2"/>
            <!-- 按扭的背景或前景，颜色值为：#ARGB格式，也可配置为复杂模式 -->
            <Button Name="btn_0" Content="Video_1" Width="100" Height="100" Margin="150,50" Background="#10FF0000" Foreground="#100000FF" />
            <!-- 这是一个复杂模式按扭的配置示例 -->
            <Button Name="btn_x" Content="Video_2" Width="100" Height="100" FontSize="25" Margin="200,200">
                <Button.Background>
                    <ImageBrush ImageSource="D:\Documents\WXWork\1688849995458235\Cache\Image\2021-03\218b8b85-f89e-4b23-a913-a5e030d21f6f.jpg"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="D:\Documents\WXWork\1688849995458235\Cache\Image\2021-03\257fc851-7e08-4281-8afa-8054c3980fba.png"/>
                </Button.Foreground>
            </Button>
            
            <!-- 未定义 Button 上面每个按扭点击都会执行 -->
            <Events Name="Click">
                <Action TargetObj="Window" Method="TestEcho" Params="null"/>
            </Events>
            <!-- 定义 Button 属性，只有上面 btn_0 的按扭会执行 -->
            <Events Name="Click" Button="btn_0">
                <Action TargetObj="Window" Method="TestEcho" Params="load item 1"/>
                <Action TargetObj="Window" Method="LoadItem" Params="1"/>
            </Events>
            <Events Name="Click" Button="btn_1">
                <Action TargetObj="BackgroundPlayer" Method="Pause" Params=""/>
                <Action TargetObj="Window" Method="Sleep" Params="100"/>
                <Action TargetObj="Window" Method="LoadItem" Params="1"/>
                <Action TargetKey="SerialPort" Method="SendBytes" Params="[0x00,0x01,0x02]"/>
            </Events>
        </BackgroundButtons>

        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>
    
    <Item ID="1" Comment="">
        <ForegroundPlayer Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\Upgrade_01.mp4" Loop="True" Volume="0.8">

            <Events Name="OnFirstFrame">
                <Action TargetObj="Window" Method="TestEcho" Params="Video First Frame Event."/>
            </Events>

            <Events Name="OnRenderFrame" Position="2.5">
                <Action TargetObj="Window" Method="TestEcho" Params="position ... 2.50s"/>
            </Events>

            <Events Name="OnLastFrame">
                <Action TargetObj="ForegroundPlayer" Method="Pause"/>
            </Events>
        </ForegroundPlayer>

        <ForegroundButtons>
            <Button Name="btn_0" Content="返回" Width="100" Height="100" Margin="150,50" Background="#70FF0000" Foreground="#700000FF" />
            <Button Name="btn_1" Content="Pause" Width="100" Height="100" Margin="10,100" />
            <Button Name="btn_2" Content="Play" Width="100" Height="100" Margin="150,100" />
            
            <Events Name="Click" Button="btn_0">
                <Action TargetObj="Window" Method="LoadItem" Params="0"/>
            </Events>
            <Events Name="Click" Button="btn_1">
                <Action TargetObj="ForegroundPlayer" Method="Pause" Params=""/>
            </Events>
            <Events Name="Click" Button="btn_2">
                <Action TargetObj="ForegroundPlayer" Method="Play" Params=""/>
            </Events>
        </ForegroundButtons>

        <BackgroundGroup Visibility="Hidden"/>
        <ForegroundGroup Visibility="Visible"/>
        
    </Item>

    <Item ID="2" Comment="">
        <Window Left="200" Width="500" />
        <ForegroundPlayer Url="E:\2020\005_Projects\2021_LEDs Interactive Display\LedControlSystem\TestVideo\Brain.mov" Loop="True" Volume="0.8">
        </ForegroundPlayer>
    
        <ForegroundGroup Visibility="Visible"/>
        <BackgroundGroup Visibility="Hidden"/>
    </Item>

    <Item ID="3" Comment="">
        <ForegroundPlayer Source="null" Url="D:\Desktop\Hi3559A.Hi3519A.Hi3556A.png" Loop="True" Volume="0.8" >
            <Action TargetObj="ForegroundPlayer" Method="Pause" Params=""/>
        </ForegroundPlayer>
    
        <ForegroundGroup Visibility="Visible"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>

</Configuration>