<?xml version="1.0" encoding="utf-8" ?>

<IO>
    <!--  可访问函数示例
    Modbus.Master.DIO: WriteSingleCoil(byte,byte,bool), WriteMultipleCoils(byte,ushort,bool[]), WriteSingleRegister(byte,ushort,ushort), WriteMultipleRegisters(byte,ushort,ushort[]);
    
    Serial: API原生方法, SendMessage(string), SendBytes(byte[])
    Network.Client: API原生方法, SendMessage(string), SendBytes(byte[])
    Network.Server: API原生方法, SendMessage(string), SendBytes(byte[])
    数值类型：16进制数值以 '0x' 开头
    -->
    <Bus Key="Modbus.Master.DIO" ReadTimeout="25" WriteTimeout="25">
        <Device Address="3" DICount="2" DOCount="2" EnabledInputRead="false" />
        <Device Address="1" DICount="4" DOCount="2" EnabledInputRead="false"/>
        
        <Events Name="InputChange" Address="1" Index="1" Value="1" HotKey="A" >
            <Action TargetKey="Modbus.Master.DIO" Method="WriteSingleCoil" Params="3,1,true"/>
        </Events>
        
        <Events Name="InputChange" Address="1" Index="1" Value="0" >
            <Action TargetKey="Modbus.Master.DIO" Method="WriteSingleCoil" Params="3,1,false"/>
        </Events>

        <Events Name="InputChange" Address="x" Index="y" Value="z" >
            <Action TargetKey="Modbus.Master.DIO" Method="WriteMultipleCoils" Params="1,0,[true,true]"/>
        </Events>
        
    </Bus>
    
    
</IO>