<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Ports" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
    <appSettings>
        <!-- Process 附加需要启动的第三方应用程序或文档 -->
        <add key="Process.FileName" value="" />
        <!-- 0:正常窗口 1:隐藏窗口 2:最小化窗口 3:最大化窗口。默认值为0 -->
        <add key="Process.WindowStyle" value="0" />
        <!-- 是否使用操作系统 shell 启动进程。默认值为True -->
        <add key="Process.UseShellExecute" value="True" />

        <!-- MainWindow 属性配置 -->
        <add key="Window.Width" value="1280" />
        <add key="Window.Height" value="720" />
        <!-- WindowStyle => 0:None(无边框), 1:SingleBorderWindow, 2:ThreeDBorderWindow, 3:ToolWindow-->
        <add key="Window.WindowStyle" value="1" />
        <!-- WindowState => 0:Normal, 1:Minimized, 2:Maximized -->
        <add key="Window.WindowState" value="0" />
        <add key="Window.Topmost" value="True" />
        <add key="Window.AllowDrop" value="True" />
        <add key="Window.AllowsTransparency" value="False" />

        <!-- 应用的服务端口/控制接口 -->
        <add key="Interface.LocalPort" value="2023" />
    </appSettings>

</configuration>