<?xml version="1.0" encoding="utf-8" ?>

<!-- 10.前言展区+6个射灯 Modbus设备地址：0x04 -->

<Configuration DefaultID="0" AutoLoop="False">
    
    <Item ID="0" Comment="">        
        <!-- Background 播放内容 -->
		<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,false,false,false,false,false]"/>
        
		<!--
		<Action TargetObj="Window" Method="CallButtonEvent" Params="0,BackgroundButtons,Light_Close"/>
		-->
        <BackgroundPlayer Url="Contents/Sound_01.mp3" Loop="False" Volume="0.8" AutoOpen="True" OpenAndPlay="True" />

        <!-- Background Buttons -->
        <BackgroundButtons>
            <Button Name="Light_1" Content="Light_1" Margin="0,20" />
            <Button Name="Light_2" Content="Light_2" Margin="0,80" />
            <Button Name="Light_3" Content="Light_3" Margin="0,140" />
            <Button Name="Light_4" Content="Light_4" Margin="0,200" />
            <Button Name="Light_5" Content="Light_5" Margin="0,260" />
            <Button Name="Light_6" Content="Light_6" Margin="0,320" /> 
			<Button Name="Light_Close" Content="Close_All" Margin="0,380" /> 			
            
            <Events Name="Click" Button="Light_1">
                <!--Action TargetObj="Window" Method="LoadItem" Params="1"/-->
                <Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[true,false,false,false,false,false,false,false]"/>
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="Link, Contents/Sound_01.mp3" />
            </Events>
			
            <Events Name="Click" Button="Light_2">
                <!--Action TargetObj="Window" Method="LoadItem" Params="2"/-->
                <Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,true,false,false,false,false,false,false]"/>
                <BackgroundPlayer Url="Contents/Sound_02.mp3" Loop="False" Volume="0.9" AutoOpen="True" OpenAndPlay="True" />
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="" />
            </Events>
			
            <Events Name="Click" Button="Light_3">
                <!--Action TargetObj="Window" Method="LoadItem" Params="3"/-->
                <Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,true,false,false,false,false,false]"/>
                <BackgroundPlayer Url="Contents/Sound_03.mp3" Loop="False" Volume="0.8" AutoOpen="True" OpenAndPlay="True" />
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="Link, null" />
            </Events>
			
			<Events Name="Click" Button="Light_4">
                <!--Action TargetObj="Window" Method="LoadItem" Params="4"/-->
                <Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,true,false,false,false,false]"/>
                <BackgroundPlayer Url="Contents/Sound_04.mp3" Loop="False" Volume="0.8" AutoOpen="True" OpenAndPlay="True" />
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="Link, null" />
            </Events>
            
			<Events Name="Click" Button="Light_5">
                <!--Action TargetObj="Window" Method="LoadItem" Params="5"/-->
                <Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,false,true,false,false,false]"/>
                <BackgroundPlayer Url="Contents/Sound_05.mp3" Loop="False" Volume="0.8" AutoOpen="True" OpenAndPlay="True" />
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="Link, null" />
            </Events>
            
			<Events Name="Click" Button="Light_6">
                <!--Action TargetObj="Window" Method="LoadItem" Params="6"/-->
                <Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,false,false,true,false,false]"/>
                <BackgroundPlayer Url="Contents/Sound_06.mp3" Loop="False" Volume="0.8" AutoOpen="True" OpenAndPlay="True" />
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="Link, null" />
            </Events>
			
			<Events Name="Click" Button="Light_Close">
				<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,false,false,false,false,false]"/>
                <BackgroundPlayer Url="Contents/Sound_07.mp3" Loop="False" Volume="0.8" AutoOpen="True" OpenAndPlay="True" />
                <Action TargetObj="BackgroundPlayer" Method="Open" Params="Link, null" />
            </Events>
        </BackgroundButtons>

        <MiddleGroup Visibility="Hidden"/>
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>
    
    <!--
    <Item ID="1" Comment="">
        <BackgroundPlayer Url="Contents/Sound_01.mp3" Loop="False" Volume="0.8">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[true,false,false,false,false,false,false,false]"/>
        </BackgroundPlayer>
    </Item>
    
	<Item ID="2" Comment="">
        <BackgroundPlayer Url="Contents/Sound_02.mp3" Loop="False" Volume="0.8">		
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,true,false,false,false,false,false,false]"/>
        </BackgroundPlayer>		
    </Item>
    
	<Item ID="3" Comment="">
        <BackgroundPlayer Url="Contents/Sound_03.mp3" Loop="False" Volume="0.8">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,true,false,false,false,false,false]"/>
        </BackgroundPlayer>		
    </Item>

	<Item ID="4" Comment="">
        <BackgroundPlayer Url="Contents/Sound_04.mp3" Loop="False" Volume="0.8">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,true,false,false,false,false]"/>		
        </BackgroundPlayer>		
    </Item>
	
	<Item ID="5" Comment="">
        <BackgroundPlayer Url="Contents/Sound_05.mp3" Loop="False" Volume="0.8">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,false,true,false,false,false]"/>
        </BackgroundPlayer>		
    </Item>
	
	<Item ID="6" Comment="">
        <BackgroundPlayer Url="Contents/Sound_06.mp3" Loop="False" Volume="0.8">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoilsAsync" Params="4,0,[false,false,false,false,false,true,false,false]"/>
        </BackgroundPlayer>		
    </Item>
    -->
</Configuration>