<?xml version="1.0" encoding="utf-8" ?>

<!-- 4.讲好民族故事-86寸一体机+灯箱继电器 -->

<Configuration DefaultID="0" AutoLoop="False">

    <Template Name="Ref1">
        <Test Content="aaa">
            <RefTemplate Name="Ref2"/>
        </Test>
    </Template>
    <Template Name="Ref2">
        <Test Content="bbb">
            <RefTemplate Name="Ref1"/>
        </Test>
    </Template>
    
    <Template Name="ImageSource">
        <ImageBrush ImageSource="ICONS/返回.png"/>
    </Template>

    <Template Name="Page_Level_12">
        <Item ID="{ID}" Comment="">
            <RefTemplate Name="Page_Level_1" Content="{Content}" Play="{ID}0" Status="{Status}" />
        </Item>
        <Item ID="{ID}0" Comment="">
            <RefTemplate Name="Page_Level_2" Content="{Content}"/>
        </Item>
    </Template>
    
    <Template Name="BackButton">
        <Button Name="Btn_Back" Width="120" Height="120" Margin="3620,1950">
            <Button.Foreground>
                <RefTemplate Name="ImageSource"/>
            </Button.Foreground>
            <Button.Background>
                <RefTemplate Name="ImageSource"/>
            </Button.Background>
        </Button>
    </Template>

    <Template Name="Page_Level_1">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/{Content}.jpg" Stretch="Fill">
            <Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,{Status}" />
        </MiddlePlayer>

        <!-- Play Button -->
        <MiddleButtons>
            <RefTemplate Name="BackButton"/>
            <Button Name="Btn_Play" Width="120" Height="120" Margin="3420,1950">
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Foreground>
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/播放.png"/>
                </Button.Background>
            </Button>

            <Events Name="Click" Button="Btn_Back">
                <Action TargetObj="Window" Method="LoadItem" Params="0" />
            </Events>
            <Events Name="Click" Button="Btn_Play">
                <Action TargetObj="Window" Method="LoadItem" Params="{Play}" />
            </Events>
        </MiddleButtons>

        <MiddleGroup Visibility="Visible"/>
        <ForegroundGroup Visibility="Hidden"/>
    </Template>

    <Template Name="Page_Level_2" >
        <ForegroundPlayer Url="Contents/{Content}.mp4" Visibility="Visible" Stretch="Fill">
        </ForegroundPlayer>

        <ForegroundButtons>
            <RefTemplate Name="BackButton"/>
            <Button Name="Btn_Home" Width="120" Height="120" Margin="3420,1950">
                <Button.Background>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Background>
                <Button.Foreground>
                    <ImageBrush ImageSource="ICONS/主页 .png"/>
                </Button.Foreground>
            </Button>

            <Events Name="Click" Button="Btn_Back">
                <Action TargetObj="Window" Method="LoadItem" Params="1" />
            </Events>
            <Events Name="Click" Button="Btn_Home">
                <Action TargetObj="Window" Method="LoadItem" Params="0" />
            </Events>
        </ForegroundButtons>
        <ForegroundGroup Visibility="Visible"/>
    </Template>


    <Item ID="0" Comment="待机页面">        
        <BackgroundPlayer Url="Contents/Background.mp4" Stretch="Fill">
			<Action TargetKey="Modbus.Master" Method="WriteMultipleCoils" Params="1,0,[false,false,false,false,false,false,false]" Comment="关闭所有灯箱"/>
			<Events Name="OnRenderFrame" Position="0.1">
				<BackgroundButtons Visibility="Hidden"/>
			</Events>
			<Events Name="OnRenderFrame" Position="4.0">
				<BackgroundButtons Visibility="Visible"/>
			</Events>
        </BackgroundPlayer>        
        <BackgroundButtons Visibility="Hidden">
            <Button Name="Btn_LoadItem_1" Width="700" Height="210" Margin="900,1240" Opacity="0.1" />
            <Button Name="Btn_LoadItem_2" Width="627" Height="210" Margin="1700,1240" Opacity="0.1" />
			<Button Name="Btn_LoadItem_3" Width="627" Height="210" Margin="2400,1240" Opacity="0.1" />
			
			<Button Name="Btn_LoadItem_4" Width="625" Height="210" Margin="390,1530" Opacity="0.1" />
			<Button Name="Btn_LoadItem_5" Width="625" Height="210" Margin="1200,1530" Opacity="0.1" />
			<Button Name="Btn_LoadItem_6" Width="625" Height="210" Margin="2000,1530" Opacity="0.1" />
			<Button Name="Btn_LoadItem_7" Width="625" Height="210" Margin="2750,1530" Opacity="0.1" />
			
            <Events Name="Click" Button="Btn_LoadItem_1">
                <Action TargetObj="Window" Method="LoadItem" Params="1"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_2">
                <Action TargetObj="Window" Method="LoadItem" Params="2"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_3">
                <Action TargetObj="Window" Method="LoadItem" Params="3"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_4">
                <Action TargetObj="Window" Method="LoadItem" Params="4"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_5">
                <Action TargetObj="Window" Method="LoadItem" Params="5"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_6">
                <Action TargetObj="Window" Method="LoadItem" Params="6"/>
            </Events>
			<Events Name="Click" Button="Btn_LoadItem_7">
                <Action TargetObj="Window" Method="LoadItem" Params="7"/>
            </Events>
        </BackgroundButtons>
		
        <MiddleGroup Visibility="Hidden"/>
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>

    <RefTemplate Name="Page_Level_12" Content="大通县大通县" ID="9" Status="[true,false,false,false,false,false,false]"/>
    
    <Item ID="1" Comment="">
        <RefTemplate Name="Page_Level_1" Content="大通县" Play="10" Status="[true,false,false,false,false,false,false]" />
    </Item>	
	<Item ID="10" Comment="">
		<RefTemplate Name="Page_Level_2" Content="大通县"/>
	</Item>
	
    
    <Item ID="2" Comment="">
        <RefTemplate Name="Page_Level_1" Content="湟源县" Play="20" Status="[false,true,false,false,false,false,false]" />
    </Item>
	<Item ID="20" Comment="">
        <RefTemplate Name="Page_Level_2" Content="大通县"/>		
	</Item>
	
	
    <Item ID="3" Comment="">
        <RefTemplate Name="Page_Level_1" Content="城东区" Play="30" Status="[false,false,true,false,false,false,false]" />
    </Item>
	<Item ID="30" Comment="">
         <RefTemplate Name="Page_Level_2" Content="城东区"/>	
	</Item>

	
	
    <Item ID="4" Comment="">
        <RefTemplate Name="Page_Level_1" Content="城中区" Play="40" Status="[false,false,false,true,false,false,false]" />
    </Item>
	<Item ID="40" Comment="">
        <RefTemplate Name="Page_Level_2" Content="城中区"/>	
	</Item>
	
	
	
	<Item ID="5" Comment="">
        <RefTemplate Name="Page_Level_1" Content="城西区" Play="50" Status="[false,false,false,false,true,false,false]" />
    </Item>
	<Item ID="50" Comment="">
        <RefTemplate Name="Page_Level_2" Content="城西区"/>
	</Item>

	
	<Item ID="6" Comment="">
        <RefTemplate Name="Page_Level_1" Content="城北区" Play="60" Status="[false,false,false,false,false,true,false]" />
    </Item>
    <Item ID="60" Comment="">
        <RefTemplate Name="Page_Level_2" Content="城北区"/>
    </Item>
	
	<Item ID="7" Comment="">
        <RefTemplate Name="Page_Level_1" Content="湟中区" Play="70" Status="[false,false,false,false,false,false,true]" />
    </Item>
	<Item ID="70" Comment="">
        <RefTemplate Name="Page_Level_2" Content="湟中区"/>
	</Item>
    
</Configuration>