<?xml version="1.0" encoding="utf-8" ?>

<Configuration >

    <Settings>
        <Startup LoadItem="0" AutoListLoop="False"/>
        <Timer Interval="1000">            
            <Event Type="Tick" Count="30">
                <Action Target="Window" Method="TestEcho" Params="000000"/>
            </Event>
        </Timer>
        <Synchronize Master="" Slave="" Calibr="120" WaitFrame="120" Player="BackgroundPlayer"/>
    </Settings>

    <Connections Name="ConnectionManagement">
        <!--
        <Connection Name="tcp" Type="TcpClient" Parameters="127.0.0.1,3000">
            <Event Type="Data" Message="Hello">
                <Action Target="tcp" Method="SendMessage" Params="world"/>
                <Action Target="Bus.#01" Method="TurnSingleCoil" Params="0x02, 1"/>
            </Event>
            <Event Type="Data" Bytes="0x11,0x22,0x56">
                <Action Target="tcp" Method="SendMessage" Params="hello world"/>
            </Event>
        </Connection>
		-->
        <!--
        <Connection Name="Bus.#01" Type="ModbusRtu" Parameters="COM3,115200" ReadTimeout="30" WriteTimeout="30">
            !-
            <ModbusDevice Address="1">
                <Register Address="0" Type="InputRegister" Count="2" IsLittleEndian="False"/>
            </ModbusDevice>
            -
			
            <ModbusDevice Address="2" CoilsStatusCount="2" DiscreteInputCount="0,2" InputRegisterCount="2" />

            <Event Type="Initialized">
                <Action Target="Bus.#01" Method="WriteSingleCoil" Params="2,0,True"/>
            </Event>
            <Event Type="Disposed">
                <Action Target="Bus.#01" Method="WriteMultipleCoils" Params="2,0,[False,False]"/>
            </Event>

            <Event Name="EventName" Type="InputChanged" DeviceAddress="2" DiscreteInputAddress="0" Value="1">
                <Action Target="Bus.#01" Method="WriteSingleCoil" Params="2,0,True"/>
            </Event>

            <Event Type="InputChanged" DeviceAddress="2" DiscreteInputAddress="0" Value="0"  >
                <Action Target="Bus.#01" Method="WriteSingleCoil" Params="2,0,False"/>
            </Event>

            <Event Type="InputChanged" DeviceAddress="2" DiscreteInputAddress="1" Value="1"  >
                <Action Target="Bus.#01" Method="TurnSingleCoil" Params="2,1"/>
            </Event>
        </Connection>
		-->
    </Connections>

    <Templates>
        <Template Name="Button_Home_Template">
            <Button Name="Btn_Item_{ButtonID}" Width="300" Height="90" Margin="{Margin}" Opacity="1.01"/>
            <Event Type="MouseUp" ElementType="Button" ElementName="Btn_Item_{ButtonID}">
                <Action Target="Window" Method="LoadItem" Params="{ButtonID}" />
            </Event>
        </Template>

        <Template Name="Button_Back_Template" Comment="按扭模板">
            <Button Name="Btn_Back" Width="120" Height="120" Margin="1000,600">
                <RefTemplate Name="Button_Icon_Template" IconFile="ICONS/返回.png"/>
            </Button>
            <Event Type="MouseUp" ElementType="Button" ElementName="Btn_Back">
                <Action Target="Window" Method="LoadItem" Params="0"/>
            </Event>
        </Template>

        <Template Name="Button_Icon_Template" Comment="使用 ICON 的按扭模板">
            <Button.Background>
                <ImageBrush ImageSource="{IconFile}"/>
            </Button.Background>
            <Button.Foreground>
                <ImageBrush ImageSource="{IconFile}"/>
            </Button.Foreground>
        </Template>

        <Template Name="Item_Template">
            <Item ID="{ID}" Comment="">
                <MiddlePlayer Url="Contents/{VideoFile}">
                    <Action Target="MiddlePlayer" Method="Open"/>
                    <Event Type="OnFirstFrame" >
                        <MiddlePlayer Visibility="Visible"/>
                        <BackgroundPlayer Visibility="Hidden"/>
                        <ForegroundPlayer Visibility="Hidden"/>
                        <ButtonContainer Visibility="Visible"/>
                        <Action Target="BackgroundPlayer" Method="Pause"/>
                    </Event>
                </MiddlePlayer>

                <ButtonContainer Visibility="Hidden">
                    <RefTemplate Name="Button_Back_Template"/>
                </ButtonContainer>
            </Item>
        </Template>
    </Templates>

    <Items DefaultID="0" ListAutoLoop="False">

        <Item ID="0" Comment="首页">
            <BackgroundPlayer Url="Contents/1.首页.mp4" >
                <Action Target="BackgroundPlayer" Method="Open"/>
                <Event Type="OnFirstFrame">
                    <ButtonContainer Visibility="Visible"/>
                    <BackgroundPlayer Visibility="Visible"/>
                    <MiddlePlayer Visibility="Hidden"/>
                    <ForegroundPlayer Visibility="Hidden"/>
                </Event>
            </BackgroundPlayer>
            <ButtonContainer Visibility="Hidden">
                <RefTemplate Name="Button_Home_Template" ButtonID="2" Margin="120,200"/>
                <RefTemplate Name="Button_Home_Template" ButtonID="3" Margin="120,330"/>
                <RefTemplate Name="Button_Home_Template" ButtonID="4" Margin="120,450"/>

                <RefTemplate Name="Button_Home_Template" ButtonID="5" Margin="860,200"/>
                <RefTemplate Name="Button_Home_Template" ButtonID="6" Margin="860,330"/>
                <RefTemplate Name="Button_Home_Template" ButtonID="7" Margin="860,450"/>
            </ButtonContainer>
        </Item>

        <Item ID="2" Comment="">
            <BackgroundPlayer Url="Contents/2.软件研发及服务能力.mp4" >
                <Action Target="BackgroundPlayer" Method="Open"/>
                <Event Type="OnRenderFrame" Position="0.2">
                    <ButtonContainer Visibility="Visible" />
                    <ForegroundPlayer Visibility="Visible" />
                </Event>
            </BackgroundPlayer>

            <ForegroundPlayer Url="Contents/case1.mp4" HorizontalAlignment="Left" VerticalAlignment="Top" Width="770" Height="480" Margin="256,168,100,120" >
                <Action Target="ForegroundPlayer" Method="Open"/>
            </ForegroundPlayer>

            <ButtonContainer Visibility="Hidden">
                <RefTemplate Name="Button_Back_Template"/>
            </ButtonContainer>
        </Item>

        <RefTemplate Name="Item_Template" ID="3" VideoFile="3.硬件产品研发能力.mp4"/>
        <RefTemplate Name="Item_Template" ID="4" VideoFile="4.数字化项目集成及服务能力.mp4"/>
        <RefTemplate Name="Item_Template" ID="5" VideoFile="5.信创服务能力.mp4"/>
        <RefTemplate Name="Item_Template" ID="6" VideoFile="6.数字经济平台建设和运营.mp4"/>
        <RefTemplate Name="Item_Template" ID="7" VideoFile="7.网络和数据安全服务.mp4"/>

    </Items>

</Configuration>
