<?xml version="1.0" encoding="utf-8" ?>

<Configuration DefaultID="0" AutoLoop="False">

    <AppSetting>
        <!-- WindowState => 0:Normal, 1:Minimized, 2:Maximized -->
        <!-- WindowStyle => 0:None(无边框), 1:SingleBorderWindow, 2:ThreeDBorderWindow, 3:ToolWindow-->
        <Window Width="1280" Height="720" WindowStyle="1" WindwoState="0" Topmost="True" AllowDrop="True" AllowsTransparency="False"/>
        
        <ProcessMode FileName="">
            <!-- WindowStyle: 0:正常窗口 1:隐藏窗口 2:最小化窗口 3:最大化窗口。默认值为0 -->
            <!-- UseShellExecute: 是否使用操作系统 shell 启动进程。默认值为True -->
            <StartInfo WindowStyle="0" UseShellExecute="True"/>
        </ProcessMode>
    
        <Timer Count="480" LoadItem="0"/>
        
        <!-- Master: 多端同步端口(主机)，与从机互斥，端口为 0 表示不启用 -->
        <!-- Slave: 多端同步端口(从机)，与主机互斥，端口为 0 表示不启用 -->
        <!-- Calibr: 多端同步参数 主机 设置有效。校准误差范围(ms)，超出该范围后 Seek 一次 -->
        <!-- WaitCount: 多端同步参数 主机 设置有效。触发校准后，等待多少帧才可进行下一次 Seek 校准 -->
        <Synchronize Master="" Slave="" Calibr="120" WaitCount="120" Player="BackgroundPlayer"/>
    </AppSetting>

    <Connections>
        
    </Connections>
    
    <Template Name="Buttons_Template">

        <Button Name="Btn_LoadItem" Width="120" Height="120" Margin="1000,600">
            <Button.Background>
                <ImageBrush ImageSource="ICONS/{BtnName}.png"/>
            </Button.Background>
            <Button.Foreground>
                <ImageBrush ImageSource="ICONS/{BtnName}.png"/>
            </Button.Foreground>
        </Button>
        <Events Name="Click" Button="Btn_LoadItem">
            <Action TargetObj="Window" Method="LoadItem" Params="{ItemID}"/>
        </Events>
    </Template>


    <Item ID="0" Comment="待机页面">
        <!-- Background 播放内容 -->
        <BackgroundPlayer Url="Contents/Video_01.mp4" Stretch="Fill" />

        <BackgroundButtons>
            <RefTemplate Name="Buttons_Template" BtnName="播放" ItemID="1" />
        </BackgroundButtons>

        <ForegroundGroup Visibility="Visible"/>
        <ForegroundPlayer Visibility="Hidden"/>
        <ForegroundButtons Background="#00FFFFFF">
            <Button Name="Btn_Close" Width="120" Height="120" Margin="0,600" Opacity="10.01"/>
            <Events Name="Click" Button="Btn_Close">
                <Action TargetObj="Window" Method="Close" Params=""/>
            </Events>
        </ForegroundButtons>
        
        
        <MiddleGroup Visibility="Hidden"/>
        <!--
        <ForegroundGroup Visibility="Hidden"/>
-->
        <BackgroundGroup Visibility="Visible"/>
    </Item>


    <Item ID="1" Comment="">
        <!-- Middle 背景图 -->
        <MiddlePlayer Url="Contents/Video_02.mp4" Stretch="Fill"/>

        <!-- Play Button -->
        <MiddleButtons>
            <RefTemplate Name="Buttons_Template" BtnName="返回" ItemID="0" />
        </MiddleButtons>

        <MiddleGroup Visibility="Visible"/>
        <BackgroundGroup Visibility="Hidden"/>
    </Item>


</Configuration>