<?xml version="1.0" encoding="utf-8" ?>

<Configuration >

    <Settings>
        <Startup LoadItem="0" AutoListLoop="False"/>
        <Timer Interval="1000">
            <Event Type="Tick" Count="10">
                <Action Target="Window" Method="TestEcho" Params="Hello"/>
            </Event>
            <Event Type="Tick" Count="30">
                <Action Target="Window" Method="TestEcho" Params="000000"/>
            </Event>
        </Timer>

        <Synchronize Master="" Slave="127.0.0.1:5334" Calibr="120" WaitFrame="120" Player="BackgroundPlayer"/>
    </Settings>

    <Connections Name="ConnectionManagement">
        <Connection Name="tcp" Type="TcpClient" Parameters="127.0.0.1,3000">
            <Event Type="Data" Message="Hello">
                <Action Target="tcp" Method="SendMessage" Params="world"/>
                <Action Target="Bus.#01" Method="TurnSingleCoil" Params="0x02, 1"/>
            </Event>
            <Event Type="Data" Bytes="0x11,0x22,0x56">
                <Action Target="tcp" Method="SendMessage" Params="hello world"/>
            </Event>
        </Connection>

        <Connection Name="Bus.#01" Type="ModbusRtu" Parameters="COM3,115200" ReadTimeout="30" WriteTimeout="30">
            <!--
            <ModbusDevice Address="1">
                <Register Address="0" Type="InputRegister" Count="2" IsLittleEndian="False"/>
            </ModbusDevice>
            -->
            <ModbusDevice Address="2" CoilsStatusCount="2" DiscreteInputCount="0,2" InputRegisterCount="2" />

            <Event Type="Initialized">
                <Action Target="Bus.#01" Method="WriteSingleCoil" Params="2,0,True"/>
            </Event>
            <Event Type="Disposed">
                <Action Target="Bus.#01" Method="WriteMultipleCoils" Params="2,0,[False,False]"/>
            </Event>

            <Event Name="EventName" Type="InputChanged" DeviceAddress="2" DiscreteInputAddress="0" Value="1">
                <Action Target="Bus.#01" Method="WriteSingleCoil" Params="2,0,True"/>
            </Event>

            <Event Type="InputChanged" DeviceAddress="2" DiscreteInputAddress="0" Value="0"  >
                <Action Target="Bus.#01" Method="WriteSingleCoil" Params="2,0,False"/>
            </Event>

            <Event Type="InputChanged" DeviceAddress="2" DiscreteInputAddress="1" Value="1"  >
                <Action Target="Bus.#01" Method="TurnSingleCoil" Params="2,1"/>
            </Event>
        </Connection>

    </Connections>

    <Templates>
        <Template Name="Icon_Button_Template" Comment="使用 ICON 的按扭模板">
            <Button.Background>
                <ImageBrush ImageSource="{IconFile}"/>
            </Button.Background>
            <Button.Foreground>
                <ImageBrush ImageSource="{IconFile}"/>
            </Button.Foreground>
        </Template>
        
        <Template Name="Buttons_Template" Comment="按扭模板">
            <Button Name="Btn_LoadItem" Width="120" Height="120" Margin="1000,600">
                <RefTemplate Name="Icon_Button_Template" IconFile="ICONS/{BtnName}.png"/>
            </Button>
            <Event Type="Click" Element="Btn_LoadItem">
                <Action Target="Window" Method="LoadItem" Params="{ItemID}"/>
            </Event>
        </Template>
    </Templates>

    <Items DefaultID="0" ListAutoLoop="False">
        <Item ID="0" Comment="待机页面">
            <!-- Background 播放内容 -->
            <BackgroundPlayer Url="Contents/Video_01.mp4" Stretch="Fill" >
            </BackgroundPlayer>

            <BackgroundButtons>
                <RefTemplate Name="Buttons_Template" BtnName="播放" ItemID="1" />
            </BackgroundButtons>

            <ForegroundContainer Visibility="Visible" Background="null"/>
            <ForegroundPlayer Visibility="Hidden"/>
            <ForegroundButtons>
                <Button Name="Btn_Close" Width="120" Height="120" Margin="0,600" Opacity="10.01"/>
                <Event Type="Click" Element="Btn_Close">
                    <Action Target="Window" Method="Close" Params=""/>
                </Event>
            </ForegroundButtons>

            <MiddleContainer Visibility="Hidden"/>
            <!--
        <ForegroundContainer Visibility="Hidden"/>
        -->
            <BackgroundContainer Visibility="Visible"/>
        </Item>

        <Item ID="1" Comment="">
            <!-- Middle 背景图 -->
            <MiddlePlayer Url="Contents/Video_02.mp4" Stretch="Fill"/>

            <!-- Play Button -->
            <MiddleButtons>
                <RefTemplate Name="Buttons_Template" BtnName="返回" ItemID="0" />
            </MiddleButtons>

            <MiddleContainer Visibility="Visible"/>
            <BackgroundContainer Visibility="Hidden"/>
        </Item>
    </Items>

</Configuration>